<h1>Thermostat</h1>
<h2>Temperature: {{ temperature }} degrees</h2>

<div class="temperature-control__container">
  <div class="temperature-control__button">
    <a href="/decrease">-</a>
  </div>
  <p>Control Temperature</p>
  <div class="temperature-control__button">
    <a href="/raise">+</a>
  </div>  
</div>

  <div class="power-saving">
    <p>Power saving mode: {{{ powerSaving}}}</p>
    <a href="/switch">Switch power mode</a>
  </div>
  
