body {
    background-color: #282c34;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-left: 4px;
}


.temperature-control__container {
    width: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature-control__button {
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.temperature-control__button:hover {
    border: 1px solid #ddd;
    cursor: pointer;
}